@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  margin: auto;
  padding: auto;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #121317;
  padding-bottom: 50px;
}

td a:link, a:visited, a:active
{
    color: #c8d3de;
    text-decoration: none;
}

td img {
  align-content: center;
  margin: auto;
}

td a:hover {
  color: #a7b1bc;
  text-decoration: none;
}

.top {
  margin-top: 25px;
}

body .tit {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-weight: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
  font-size: 45px;
}

body .tit-tit {
  color: rgb(255, 66, 66);
  font-family: 'Oswald', sans-serif;
}

.tit-tit-sub {
  color: #424855;
  font-family: 'Oswald', sans-serif;
}


.table-sortable th { /* catergory titles */
  cursor: pointer;
  padding: 15px;
  font-size: 20px;
  background-color: rgb(255, 66, 66);
  margin: auto;
  color: white;
  text-transform: uppercase;
  border-radius: 5px 5px 0px 0px;
  border: 1px #1d2329 solid;
  border-bottom: 5px solid rgb(113, 30, 30);
  font-family: 'Oswald', sans-serif;
  font-weight: 1;
  overflow: auto;
  table-layout: fixed;
  position: sticky;   
  top: 0; 
}

.table-sortable tr { /* catergory content */
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
  align-items: center;
  background-color: #212328;
  margin: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-transform: inherit;
  color: #c8d3de;
}

.rating {
  font-size: 50px;
  color: rgb(255, 66, 66);
  text-shadow: 1px 1px 5px rgb(29, 29, 29)
}

.table-sortable .th-sort-asc::after {
  content: "\25b4";
}

.table-sortable .th-sort-desc::after {
  content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 10px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: rgb(186, 48, 48);
}


h2 {
  text-align: center;
  font-size: 15px;
  font-family: "Robot", sans-serif;
  color: white;
  font-weight: 1;
  font-style: italic;
  margin: auto;
  padding: 10px;
  border: 1px solid #424855;
  width: 200px;
  text-decoration: none;
}

h2:hover {
  background-color: rgb(255, 66, 66);
}

a {
  text-decoration: none;
  color: white;
}

h3 {
  text-align: center;
  font-size: 18px;
  font-family: "Robot", sans-serif;
  color: rgb(104, 102, 113);
  font-weight: 1;
  font-style: italic;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  text-decoration: none;
}

.average {
  color: rgb(255, 66, 66);
}

/* Colors */
.blue {
  color: rgb(66, 201, 255);
}

.orange {
  color: rgb(255, 189, 66);
}

.orange-bg {
  background-color: rgb(255, 189, 66);
}

.blue-bg {
  background-color: rgb(66, 201, 255);
}

.red-bg {
  background-color: rgb(255, 66, 66);
}

.purple-bg {
  background-color: rgb(129, 66, 255);
}

.grey-bg {
  background-color: rgb(149, 149, 149);
}

/* Style for game tags */
.tag {
  border-radius: 0.7em;
  padding: 2px;
  font-size: 12px;
  justify-content: space-around;
  text-align: center;
  margin: auto;
  text-shadow: 1px 1px 5px rgb(29, 29, 29);
  box-shadow: 1px 1px 5px rgb(29, 29, 29);
}


/* Loader */
.content {
  display: none;
}
.loader {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #121317;
  position: absolute;
}

.loader>div {
  height: 100px;
  width: 100px;
  border: 1px solid #424855;
  border-top-color: rgb(255, 66, 66);
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  100%{
    transform: rotate(360deg);
  }
}
