tr #rate-btn {
  margin-left: 10px;
  padding: 8px 14px;
  background-color: #4a5257;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

tr:hover #rate-btn {
  display: inline-block;
}

tr #rate-btn:hover {
  background-color: #393f43;
}