@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    width: 100%;
    min-height: 100%;
    background-color: #161920;
    overflow-x: hidden;
}

.backbtn {
    background-color: #161920;
    color: white;
    padding: 10px 30px 10px 30px;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    text-decoration: none;
}

.backbtn:hover {
    background-color: #fff;
    color: #161920;
    padding: 10px 30px 10px 30px;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    text-decoration: none;
}

#game-creator {
    font-size: 30px;
    color: gray;
    padding-bottom: 15px;
}

#game-genres {
    font-size: 15px;
    color: rgb(71, 71, 71);
}

#game-title {
    text-align: center;
    color: white;
    padding: 0px;
    font-size: 4dvh;
}

#game-creator {
    text-align: center;
}

#game-genres {
    text-align: center;
    color: #fff;
}

.ratings-container {
    max-width: 500px;
    background: #262d3a;
    padding: 10px 20px;
    border-radius: 7px;
    margin: auto;
    width: 50%;
    display: inline-block;
    color: #fff;
}

.ratings-container .rating-box {
    width: 100%;
    margin: 15px 0;
}

.rating-box .title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-align: left;
}

.rating-box .rating-bar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0, 0, 0, 0.1);
}

.rating-bar .rating-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #4070f4;
    opacity: 0;
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.rating-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #4070f4;
    z-index: 1;
}

.tooltip::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #4070f4;
    transform: translateX(-50%) rotate(45deg);
}

.information-container {
    max-width: 500px;
    background: #262d3a;
    padding: 10px 20px;
    border-radius: 7px;
    margin: auto;
    width: 50%;
    display: inline-block;
    margin-left: 25px;
    color: #fff;
}

#container {
    text-align: center;
    width: 100%;
    display: flex;
    margin: auto;
}

.sml-text {
    font-size: 15px;
    color: #fff;
    font-weight: normal;
}

.note-container {
    max-width: 500px;
    color: #fff;
    background: #262d3a;
    padding: 10px 20px;
    border-radius: 7px;
    margin: auto;
    width: 50%;
    display: inline-block;
    margin-left: 25px;
}

.rater-note-txt {
    font-size: 20px;
}

.overall .tooltip::before {
   background:  rgb(255, 132, 0);
}

.originalBtn {
    border-color: #4070f4;
    border-width: 1px;
    border-style: solid;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    opacity: 0;
}

.originalBtn:hover {
    background: #4070f4;
}

.playbtn {
    margin-left: 10px;
    background-color: #161920;
    color: rgb(255, 132, 0);
    padding: 10px 30px 10px 30px;
    border-color: rgb(255, 132, 0);
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    text-decoration: none;
}

.playbtn:hover {
    background-color: rgb(255, 132, 0);
    color: #161920;
    padding: 10px 30px 10px 30px;
    border-color: rgb(255, 132, 0);
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    text-decoration: none;
}

.alert {
    text-align: center;
    color: red;
    font-size: 20px;
}