.ratings-container h1 {
    font-size: 20px;
    font-weight: 100;
}

.styled-input {
    display: inline-block;
    position: relative;
}

.styled-input input {
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    width: 250px;
}

.styled-input input:focus {
    outline: none;
}


button {
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border-color: #3498db;
}

button:hover {
    background-color: #2980b9;
}