@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

:root {
  --bg-clr: #161920;
  --table-bg-clr: #455a64;
  --nouhi-clr: #ffdb81;
  --torch-clr: #ff6969;
  --namlit-clr: rgb(99, 255, 141);
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  min-height: 100%;
  background-color: var(--bg-clr);
  overflow-x: hidden;
}

.table-container,
.mobile-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.2em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: white;
  border-radius: 0.4em;
}

#game-table,
#mobile-game-table {
  border-collapse: collapse;
  margin: 1em 0;
  min-width: 300px;
  color: white;
  border-radius: 0.4em;
  overflow: hidden;
  background-color: #161920;
}

/* Table Styling */

#game-table th,
#mobile-game-table th {
  cursor: pointer;
  background-color: var(--table-bg-clr);
  margin: auto;
  color: white;
  font-weight: 500;
  overflow: auto;
  table-layout: fixed;
  position: sticky;
  top: 0;
}

#game-table tr,
#mobile-game-table tr {
  padding: 5px;
  align-items: left;
  text-align: left;
  margin: auto;
  text-transform: inherit;
  color: #eef7f8;
  border-bottom: 0.1px solid #1f2733;
}

#table-sortable .th-sort-asc::after {
  content: "\25b4";
}

.table-sortable .th-sort-desc::after {
  content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 10px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: rgb(88, 88, 88);
}

h2 {
  text-align: center;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
  color: white;
  font-weight: 1;
  font-style: italic;
  margin: auto;
  padding: 10px;
  border: 1px solid #424855;
  width: 200px;
  text-decoration: none;
}

h2:hover {
  background-color: rgb(147, 147, 147);
}

a {
  text-decoration: none;
  color: white;
}

h3 {
  text-align: center;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  color: rgb(104, 102, 113);
  font-weight: 1;
  font-style: italic;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  text-decoration: none;
}

h4 {
  text-align: center;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  color: rgb(104, 102, 113);
  font-weight: 1;
  font-style: italic;
  margin: auto;
  padding: 10px;
  text-decoration: none;
}

.average {
  color: white;
}

.rating-ref {
  text-decoration: none;
  padding-bottom: 10px;
}

.rating-ref:hover {
  text-decoration: underline;
}

/* Avatars */

.avatars {
  text-align: center;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
  color: white;
  font-weight: 1;
  font-style: italic;
  margin: auto;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  width: 200px;
  text-decoration: none;
  width: 100px;
  display: inline-flex;
  font-style: normal;
}

.yellow-border {
  border: 1px solid rgb(246, 255, 0);
}

.red-border {
  border: 1px solid rgb(255, 92, 92);
}

.green-border {
  border: 1px solid rgb(99, 255, 141);
}

.avatars-contributor {
  text-align: center;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
  color: white;
  font-weight: 1;
  font-style: italic;
  margin: auto;
  padding: 10px;
  border: 1px solid rgb(73, 73, 73);
  text-decoration: none;
  width: 60px;
  display: inline-flex;
  font-size: 10px;
  font-style: normal;
}

.avatars figcaption {
  padding-top: 5px;
}

.avatars-contributor figcaption {
  padding-top: 5px;
}

/* Creator's Choice */

/* Namlit */
.creators-choice-namlit td {
  border-top: var(--namlit-clr) thin solid;
  border-bottom: var(--namlit-clr) thin solid;
}

.creators-choice-namlit td:first-child {
  border-left: var(--namlit-clr) thin solid;
}

.creators-choice-namlit td:last-child {
  border-right: var(--namlit-clr) thin solid;
}

.creators-choice-nouhi td {
  border-top: var(--nouhi-clr) thin solid;
  border-bottom: var(--nouhi-clr) thin solid;
}

.creators-choice-nouhi td:first-child {
  border-left: var(--nouhi-clr) thin solid;
}

.creators-choice-nouhi td:last-child {
  border-right: var(--nouhi-clr) thin solid;
}

.creators-choice-torch td {
  border-top: var(--torch-clr) thin solid;
  border-bottom: var(--torch-clr) thin solid;
}

.creators-choice-torch td:first-child {
  border-left: var(--torch-clr) thin solid;
}

.creators-choice-torch td:last-child {
  border-right: var(--torch-clr) thin solid;
}

/* All */
.creators-choice-all td {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  border-image-slice: 1;
}

.creators-choice-all td:first-child {
  border-left: 1px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  border-image-slice: 1;
}

.creators-choice-all td:last-child {
  border-right: 1px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  border-image-slice: 1;
}

/* Colors */
.blue {
  color: rgb(66, 201, 255);
}

.orange {
  color: rgb(255, 189, 66);
}

.orange-bg {
  /* Singleplayer */
  background-color: rgb(255, 189, 66);
}

.blue-bg {
  /* Multiplayer */
  background-color: rgb(66, 201, 255);
}

.red-bg {
  /* X */
  background-color: rgb(255, 66, 66);
}

.purple-bg {
  /* Chapters */
  background-color: rgb(129, 66, 255);
}

.green-bg {
  /* Story */
  background-color: rgb(47, 196, 99);
}

.dark-blue-bg {
  /* Misc */
  background-color: rgb(69, 66, 255);
}

.pink-bg {
  /* Myth */
  background-color: rgb(255, 66, 201);
}

.grey-bg {
  /* Unfinished */
  background-color: rgb(149, 149, 149);
}

.yellow-bg {
  /* Minigame */
  background-color: rgb(211, 196, 27);
}

.dark-green-bg {
  /* Story */
  background-color: rgb(29, 108, 57);
}

.dark-orange-bg {
  /* Story */
  background-color: #ff8a00;
}

.survival-horror {
  background-color: #215a6c;
}

.classic-horror {
  background-color: #ffc8aa;
}

.abstract {
  background-color: #753800;
}

.fan-game {
  background-color: #a54c4c;
}

/* Style for game tags */
.tag {
  border-radius: 0.7em;
  padding: 4px;
  font-size: 14px;
  justify-content: space-around;
  text-align: center;
  margin: auto;
  text-shadow: 1px 1px 5px rgb(29, 29, 29);
  box-shadow: 1px 1px 5px rgb(29, 29, 29);
}

.align-left {
  text-align: right;
}

.game-icon {
  width: 50px;
}

.game-title {
  padding-left: 10px;
}

body .tit {
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 45px;
}

body .tit-credits {
  text-align: center;
  color: white;
  font-weight: 1;
  padding-bottom: 10px;
  font-size: 25px;
}

/* needs replacement */
body .tit-date {
  font-style: italic;
  text-align: center;
  color: rgb(182, 182, 182);
  font-weight: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}

body .tit-tit {
  color: rgb(147, 147, 147);
}

.tit-tit-sub {
  color: #424855;
}

.dataTables_length select,
.dataTables_wrapper .dataTables_filter input {
  color: white;
  outline: none;
}

.dataTables_length select option {
  color: white;
  background-color: var(--bg-clr);
}

.dataTables_paginate .paginate_button.disabled {
  color: #424855 !important;
}

.dataTables_length {
  padding-bottom: 10px;
}

#game-table th:first-child,
#game-table th:nth-child(3){
  text-align: left;
}

#game-table th:last-child,
#game-table th:nth-child(4){
  text-align: right;
}

.tooltip-class {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  background: #21242b;
  color: white;
  padding: 10px 20px;
  margin: 20px;
  border-radius: .2em;
  max-width: 800px;
}

.flex-center {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-3d {
  padding: 10px;
  color: #fff;
}
.icon-3d:hover {
  -webkit-animation: icon3d 200ms infinite;
  animation: icon3d 200ms infinite;
}

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px #f44336, -5px -6px #2196f3;
  }
  25% {
    text-shadow: -5px -6px #f44336, 5px 4px #2196f3;
  }
  50% {
    text-shadow: 5px -4px #f44336, -8px 4px #2196f3;
  }
  75% {
    text-shadow: -8px -4px #f44336, -5px -4px #2196f3;
  }
  100% {
    text-shadow: -5px 0 #f44336, 5px -4px #2196f3;
  }
}

.mobile-table-container {
  display: none;
  text-align: center;
  margin-right: 15px;
}

#genre {
  display: inline-block;
  margin-right: 5px;
}

#myProgress {
  background-color: rgb(34, 34, 43);
  margin: auto;
  width: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: translateX(50.5%);
  border-radius: 20px;
}

#myBar {
  width: 1%;
  height: 15px;
  background-color: rgb(249, 255, 249);
  border-radius: 20px;
}

.api-issue {
  color:rgb(255, 73, 73);
}

.game-href:hover {
  text-decoration: underline;
}